<div class="editor">
    <div class="toolbar-container toolbar" ng-show="toolbar">
        <span class="ql-format-group">
            <span title="Bold" class="ql-format-button ql-bold">
                <i class="fa fa-bold"></i>
            </span>
            <span title="Italic" class="ql-format-button ql-italic">
                <i class="fa fa-italic"></i>
            </span>
            <span title="Underline" class="ql-format-button ql-underline">
                <i class="fa fa-underline"></i>
            </span>
            <span title="Strikethrough" class="ql-format-button ql-strike">
                <i class="fa fa-strikethrough"></i>
            </span>
        </span>
        <span class="ql-format-group">
            <span title="Numbered list" class="ql-format-button ql-list">
                <i class="fa fa-list-ol"></i>
            </span>
            <span title="Bullet list" class="ql-format-button ql-bullet">
                <i class="fa fa-list-ul"></i>
            </span>
        </span>
        <span class="ql-format-group">
            <span title="Add object" class="ql-format-button ql-object">
                <i class="fa fa-plus"></i>
            </span>
        </span>
    </div>
    <div class="editor-container"></div>
</div>
